$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

    
body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h2, h3 {
    color: #696969;
}
a:hover{
    text-decoration: none;
}

.btn {
    font-size: 18px;
}

.glyphicon-remove,
.glyphicon-pencil{
    cursor: pointer;
    color: #BDBDBD;
}

.glyphicon.delete:hover{
    color: red;
}
.glyphicon.edit:hover{
    color: green;
}

// Admin
.admin-nav-bar {
    position: fixed;
    background-color: #44bbcc;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    box-shadow: 0 1px 3px #D3CFCF;
    a.admin-logo {
        color: #000;
        text-shadow: none;
        .amara {
            color: #B30797;
            font-style: italic;
        }
    }
    a {
        color: #fff;
        min-width: 100px;
        text-align: center;
        float: left;
        display: block;
        font-size: 16px;
        text-shadow: 0 -1px 0 #2F8D8D;
        margin: 0 10px;
    }
    a:hover{
        text-decoration: none;
    }
    a.active{
        background-color: #49AAB8;
    }
}
.admin-body {
    width: 100%;
    margin-top: 50px;
    h2 {
        float: left;
        margin: 10px;
    }
    .new-item-btn {
        margin: 10px;
        float: right;
    }
}
.admin-table {
    thead {
        tr {
            background-color: #E4E4E4;
        }
    }
    tbody {
        td.actions{
            a {
                margin-right: 20px;
            }
        }
    }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* =form wrapper */
.form-wrapper {
    margin: 100px auto;
    width: 600px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #D1D1D1;
    h3 {
        margin: 10px;
        text-align: center;
    }
    form {
        margin-top: 30px;
        input {
            padding: 20px;
        }
    }
    .form-top {
        padding: 10px;
    }
    .form-bottom {
        width: 100%;
        padding: 10px 10px 20px 10px;
    }
    .button-wrapper {
        margin: 0 auto;
        width: 260px;
    }
    .cancel {
        color: red;
    }
}