<nav class='admin-nav-bar' ng-controller='AdminCtrl'>
  <a ui-sref='admin.users' class='admin-logo'>
    <span class='amara'>amara</span> admin
  </a>

  <a ng-show='loggedIn' ui-sref='admin.users'
      ng-class="{ active: $state.includes('admin.users') }">
    Users
  </a>
  <a  ng-show='loggedIn' ui-sref='admin.stories'
      ng-class="{ active: $state.includes('admin.stories') }">
    Stories
  </a>

  <div class='acct-info' ng-show='loggedIn'>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{email}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click='logout()'>Logout</a></li>
      </ul>
    </div>
  </div>

</nav>
<div ui-view class='admin-body'></div>
